*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-width: 360px;
  height: 100vh;
  min-height: 580px;
}

/* Animation */
@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 0;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 10;
  }
}

/* Container */
.container {
	border: 1px solid black;
	position: relative;
	width: 100%;
	min-height: 300px;
	overflow: hidden;
	border-radius: 8px;
}

/* Form Section */
.form-container {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0%;
	transition: 0.6s ease-in-out;
}

.sign-in {
	opacity: 1;
	z-index: 1;
}

.sign-up {
	opacity: 0;
	z-index: 0;
}

.container.right-active .sign-in {
	transform: translateX(100%);
	opacity: 0;
}

.container.right-active .sign-up {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

/* Overlay */
.overlay-container {
	position: absolute;
	overflow: hidden;
	z-index: 20;
	width: 50%;
	height: 100%;
	left: 50%;
	background: black;
	color: #fff;
	transition: 0.6s ease-in-out;
}

.overlay {
	width: 200%;
	height: 100%;
	position: relative;
	left: -100%;
	transform: translateX(0);
	transition: 0.6s ease-in-out;
}

.overlay-child {
	width: 50%;
	height: 100%;
}

.overlay-right {
	position: absolute;
	left: 50%;
	opacity: 1;
	z-index: 1;
	transform: translateX(0);
	transition: 0.6s ease-in-out;
}

.overlay-left {
	position: absolute;
	left: 0;
	opacity: 0;
	z-index: 0;
	transform: translateX(20%);
	transition: 0.6s ease-in-out;
}

.container.right-active .overlay-container {
	transform: translateX(-100%);
}

.container.right-active .overlay {
	transform: translateX(50%);
}

.container.right-active .overlay-left {
	opacity: 1;
	z-index: 10;
	transform: translateX(0);
}

.container.right-active .overlay-right {
	opacity: 0;
	z-index: 0;
	transform: translateX(20%);
}