*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-width: 360px;
  height: 100vh;
  min-height: 580px;
}

/* Animation */
@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 0;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 10;
  }
}

/* Container */
.container {
  position: relative;
  width: 100%;
  height: 300px;
  border: 1px solid #000;
  border-radius: 8px;
  overflow: hidden;
}

/* Form */
.form-container {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  transition: 0.5s ease-in-out;
}

.sign-in {
  z-index: 10;
  opacity: 1;
  transform: translateX(0);
}

.sign-up {
  z-index: 0;
  opacity: 0;
}

.container.right-active .form-container {
  left: 50%;
}

.container.right-active .sign-in {
  z-index: 0;
  opacity: 0;
  transform: translateX(-35%);
}

.container.right-active .sign-up {
  z-index: 10;
  opacity: 1;
  animation: show 0.5s;
}

/* Overlay */
.overlay-container {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  background: rgba(0, 0, 0, 0.75);
  transition: 0.5s ease-in-out;
}

.overlay {
  width: 200%;
  height: 100%;
  position: absolute;
  transform: translateX(-50%);
}

.overlay-child {
  position: absolute;
  width: 50%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
}

.overlay-right {
  opacity: 1;
  z-index: 10;
  transform: translateX(100%);
}

.overlay-left {
  opacity: 0;
  z-index: 0;
}

.container.right-active .overlay-container {
  left: 0;
}

.container.right-active .overlay-left {
  opacity: 1;
  z-index: 10;
  animation: show 0.5s;
}

.container.right-active .overlay-right {
  opacity: 0;
  z-index: 0;
  transform: translateX(135%);
}