/* --------------- Reset ----------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------------ Basic Setting ------------ */
html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	font-size: 1.6rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	padding: 1em;
	border: 1px solid #eee;
	border-radius: 8px;
	border-top: 5px solid #2a9df4;
}

/* -------------- Result ----------------- */
.result {
	text-align: center;
	margin-bottom: 2em;
}

.result .small {
	font-size: 1.4rem;
	padding-bottom: 0.7em;
}

.result .nominal {
	font-size: 2.8rem;
	font-weight: 450;
}

/* --------------- Input ----------------  */
.input {
	margin-bottom: 1.2em;
}

.label {
	font-size: 1.2rem;
	font-weight: 350;
	padding-bottom: 0.5em;
}

.input input {
	outline: none;
	border: 2px solid #eee;
	font-size: inherit;
	padding: 0.4em 0.5em;
	border-radius: 8px;
	text-align: right;
}

/* ---------- Currency Converter ----------*/
.currency {
	margin-bottom: 1.2em;
}

.currency .convert,
.convert .select{
	display: flex;
	width: 100%;
}

.convert .select {
	border: 2px solid #eee;
	border-radius: 8px;
	padding: 0.2em 0.4em;
}

.currency .convert > * {
	flex: 1;
}

.select-currency {
	border: none;
	outline: none;
	background: none;
}

.swap {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ------------- Button CTA -------------- */
.btn {
	font-size: inherit;
	font-weight: 450;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	padding: 0.4em;
	border-radius: 8px;
}

.btn:hover {
	filter: brightness(110%);
}

.btn-primary {
	background: #2a9df4;
	color: #fff;
}